!!! 5
%html
  %head
    %title Charles Hollenbeck | Web Profile   
    %meta(charset="UTF-8")
    %meta(name="description" content="The web portfolio of Charles Hollenbeck.")
    %meta(meta name="keywords" content="Charles,Charles Hollenbeck,Hollenbeck")
    %meta(meta name="author" content="Charles Hollenbeck")
    %link(rel="icon" href="images/ruby.png" type="image/x-icon")
    %link(rel="stylesheet" href="css/style.css")
  %body
    #wrapper
      %nav
        %ul
          - menu.each do |btn|
            %li
              %a(href="#{btn[:link]}")
                %img(src="images/#{btn[:image]}")         
      #inner
        #avatar
          %img(src="images/avatar.png")
        #container
          %header
            %h1 
              Charles Hollenbeck -
              %span.subtitle Web Developer
          #content
            %h1
              %em A curious techie working his way through life while learning new skills.
      #bio-container
        #rupee
          %img(src="images/ruby.png")
        #biowrap
          #bio
            %ul#skills
              - skills.each do |badge|
                - if badge[:color]
                  %li.button(style="background-color:#{badge[:color]}") #{badge[:skill]}
                - else
                  %li.button "#{badge[:skill]}"  
          
